@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem vindo ao meu site</h1>
<h2 class="text-primary">CRUD com ASP.Net</h2>
<hr>
<p>Olá, este é um site de estudos produzido por Gabriel Uchôa, utilizando Views em AspNET</p>
<h3 class="text-info">Usuários Cadastrados: @ViewBag.QtdUsuarios</h3>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Usuarios</a>
  